Repository aeecleclair/Hyperion, pull requests merged in 2024-09, with the labels that each got.

#400 Fix phonebook and CoreGroup associated with Association
  app/modules/phonebook/cruds_phonebook.py
  app/modules/phonebook/endpoints_phonebook.py
  app/modules/phonebook/models_phonebook.py
  app/modules/phonebook/schemas_phonebook.py
  app/modules/phonebook/types_phonebook.py
  migrations/versions/19-fix_phonebook.py
  tests/test_phonebook.py
Labels: core, module, phonebook

#559 Fix/raid registering drive
  app/app.py
  app/dependencies.py
  app/modules/raid/endpoints_raid.py
  app/modules/raid/utils/drive/drive_file_manager.py
  app/modules/raid/utils/pdf/pdf_writer.py
  app/modules/raid/utils/utils_raid.py
  app/utils/google_api/google_api.py
Labels: fix bug, raid registering

#570 Init Google API authentication when google is configured in dotenv
  app/app.py
Labels: core, fix bug

#574 Add ticket tags lists
  app/modules/cdr/cruds_cdr.py
  app/modules/cdr/endpoints_cdr.py
  app/modules/cdr/models_cdr.py
  app/modules/cdr/schemas_cdr.py
  app/modules/cdr/utils_cdr.py
  tests/test_cdr.py
  tests/test_cdr_result.py
Labels: feat, cdr

#578 Support multiple auth tentative for GoogleAPI
  README.md
  app/api.py
  app/app.py
  app/core/endpoints_core.py
  app/core/google_api/README.md
  app/core/google_api/__init__.py
  app/core/google_api/coredata_google_api.py
  app/core/google_api/cruds_google_api.py
  app/core/google_api/endpoints_google_api.py
  app/core/google_api/google_api.py
  app/core/google_api/models_google_api.py
  app/modules/raid/endpoints_raid.py
  app/modules/raid/utils/drive/drive_file_manager.py
  app/modules/raid/utils/utils_raid.py
  migrations/versions/24-cdr_googleapi_dedicated_states_table.py
Labels: core, fix bug

#587 RAID: Generate PDF
  app/modules/raid/endpoints_raid.py
  tests/test_raid.py
Labels: enhancement, raid registering

#588 Add OverleafAuthClient
  app/utils/auth/providers.py
Labels: enhancement, authentication

#585 Complete the transition to the new Dockerfile
  Dockerfile
  README.md
  app/core/config.py
  app/core/log.py
  app/main.py
  init.py
  start.sh
Labels: ready for review, startup
