Repository aeecleclair/Hyperion, pull requests merged in 2024-05, with the labels that each got.

#401 Add CoreData to store values in an unique row
  app/core/cruds_core.py
  app/core/models_core.py
  app/types/core_data.py
  app/types/exceptions.py
  app/utils/tools.py
  tests/test_utils.py
Labels: enhancement, core

#389 Support external accounts and add stricters group requirements to access endpoints
  app/core/auth/endpoints_auth.py
  app/core/endpoints_core.py
  app/core/groups/endpoints_groups.py
  app/core/groups/groups_type.py
  app/core/models_core.py
  app/core/notification/endpoints_notification.py
  app/core/schemas_core.py
  app/core/users/cruds_users.py
  app/core/users/endpoints_users.py
  app/dependencies.py
  app/modules/advert/endpoints_advert.py
  app/modules/booking/endpoints_booking.py
  app/modules/calendar/endpoints_calendar.py
  app/modules/campaign/endpoints_campaign.py
  app/modules/phonebook/endpoints_phonebook.py
  app/utils/auth/providers.py
  app/utils/tools.py
  migrations/README
  migrations/versions/9-external_users.py
  tests/commons.py
  tests/test_advert.py
  tests/test_auth.py
  tests/test_booking.py
  tests/test_calendar.py
  tests/test_phonebook.py
Labels: enhancement, core

#412 Topic notification transition
  app/core/notification/cruds_notification.py
  app/core/notification/endpoints_notification.py
  app/core/notification/notification_types.py
  app/modules/advert/endpoints_advert.py
  app/modules/amap/endpoints_amap.py
  app/modules/booking/endpoints_booking.py
  app/modules/cinema/endpoints_cinema.py
  app/modules/loan/endpoints_loan.py
  app/utils/communication/date_manager.py
  app/utils/communication/notifications.py
  tests/test_notification.py
Labels: enhancement, core, notifications

#109 Flappy Bird Module
  app/modules/flappybird/__init__.py
  app/modules/flappybird/cruds_flappybird.py
  app/modules/flappybird/endpoints_flappybird.py
  app/modules/flappybird/models_flappybird.py
  app/modules/flappybird/schemas_flappybird.py
  migrations/versions/12-Flappybird.py
  tests/test_flappybird.py
Labels: module

#368 PH v1
  app/core/groups/groups_type.py
  app/core/notification/notification_types.py
  app/modules/ph/__init__.py
  app/modules/ph/cruds_ph.py
  app/modules/ph/endpoints_ph.py
  app/modules/ph/models_ph.py
  app/modules/ph/schemas_ph.py
  app/utils/tools.py
  assets/images/default_cover.jpeg
  assets/pdf/default_PDF.pdf
  assets/pdf/default_ph.pdf
  migrations/versions/13-ph.py
  tests/test_PH.py
  tests/test_migrations.py
Labels: module

#440 enhancement: Use `uv` instead of `pip` during ci tests
  .github/workflows/lintandformat.yml
  .github/workflows/test.yml
Labels: enhancement, github_actions

#384 Mypy stricter configuration
  app/app.py
  app/core/log.py
  app/dependencies.py
  app/modules/amap/endpoints_amap.py
  app/modules/amap/types_amap.py
  app/modules/booking/cruds_booking.py
  app/modules/booking/types_booking.py
  app/modules/calendar/types_calendar.py
  app/modules/campaign/models_campaign.py
  app/modules/loan/cruds_loan.py
  app/utils/communication/matrix.py
  pyproject.toml
  requirements-dev.txt
  tests/commons.py
  tests/test_PH.py
  tests/test_advert.py
  tests/test_amap.py
  tests/test_auth.py
  tests/test_booking.py
  tests/test_calendar.py
  tests/test_campaign.py
  tests/test_cinema.py
  tests/test_core.py
  tests/test_groups.py
  tests/test_loan.py
  tests/test_migrations.py
  tests/test_phonebook.py
  tests/test_raffle.py
  tests/test_ratelimit.py
  tests/test_recommendation.py
  tests/test_users.py
  tests/test_utils.py
Labels: core

#445 Move Module list in a dedicated file
  app/api.py
  app/app.py
  app/core/endpoints_core.py
  app/modules/advert/endpoints_advert.py
  app/modules/amap/endpoints_amap.py
  app/modules/booking/endpoints_booking.py
  app/modules/calendar/endpoints_calendar.py
  app/modules/campaign/endpoints_campaign.py
  app/modules/centralisation/endpoints_centralisation.py
  app/modules/cinema/endpoints_cinema.py
  app/modules/flappybird/endpoints_flappybird.py
  app/modules/home/endpoints_home.py
  app/modules/loan/endpoints_loan.py
  app/modules/module_list.py
  app/modules/ph/endpoints_ph.py
  app/modules/phonebook/endpoints_phonebook.py
  app/modules/raffle/endpoints_raffle.py
  app/modules/recommendation/endpoints_recommendation.py
  app/types/module.py
Labels: enhancement, core

#454 fix : notification
  app/core/notification/endpoints_notification.py
  app/utils/communication/notifications.py
Labels: bug, notifications
