Repository aeecleclair/Hyperion, pull requests merged in 2024-03, with the labels that each got.

#361 enhancement: use Ruff for linting and formating
  .flake8
  .github/workflows/lintandformat.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  app/app.py
  app/core/config.py
  app/core/log.py
  app/core/notification/cruds_notification.py
  app/core/notification/endpoints_notification.py
  migrations/env.py
  migrations/versions/0-init.py
  migrations/versions/1-booking_enhancements.py
  migrations/versions/3-pydantic_v2.py
  pyproject.toml
  requirements-dev.txt
  tests/test_advert.py
  tests/test_amap.py
  tests/test_auth.py
  tests/test_booking.py
  tests/test_calendar.py
  tests/test_campaign.py
  tests/test_cinema.py
  tests/test_core.py
  tests/test_groups.py
  tests/test_loan.py
  tests/test_raffle.py
  tests/test_users.py
Labels: enhancement, github_actions, ready for review

#308 Change Dockerfile order to improve performances
  .github/workflows/publish.yml
  Dockerfile
Labels: enhancement, github_actions, ready for review

#365 Use python 3.11 in leftover parts
  .github/workflows/lintandformat.yml
  .github/workflows/test.yml
  README.md
Labels: core, github_actions, ready for review

#360 Fix datetime stored in database
  .env.template
  .env.test
  app/core/auth/cruds_auth.py
  app/core/auth/endpoints_auth.py
  app/core/auth/models_auth.py
  app/core/config.py
  app/core/models_core.py
  app/core/notification/endpoints_notification.py
  app/core/notification/models_notification.py
  app/core/security.py
  app/core/users/endpoints_users.py
  app/modules/advert/endpoints_advert.py
  app/modules/advert/models_advert.py
  app/modules/amap/endpoints_amap.py
  app/modules/amap/models_amap.py
  app/modules/booking/endpoints_booking.py
  app/modules/booking/models_booking.py
  app/modules/calendar/cruds_calendar.py
  app/modules/calendar/endpoints_calendar.py
  app/modules/calendar/models_calendar.py
  app/modules/calendar/schemas_calendar.py
  app/modules/campaign/endpoints_campaign.py
  app/modules/cinema/endpoints_cinema.py
  app/modules/cinema/models_cinema.py
  app/modules/cinema/schemas_cinema.py
  app/utils/types/datetime.py
  app/utils/validators.py
  docker-compose-dev.yaml
  docker-compose.yaml
  migrations/versions/4-fix_datetime.py
  pyproject.toml
  requirements-dev.txt
  tests/test_advert.py
  tests/test_amap.py
  tests/test_auth.py
  tests/test_booking.py
  tests/test_calendar.py
  tests/test_cinema.py
Labels: core, fix bug

#313 Recommendation
  app/modules/recommendation/__init__.py
  app/modules/recommendation/cruds_recommendation.py
  app/modules/recommendation/endpoints_recommendation.py
  app/modules/recommendation/models_recommendation.py
  app/modules/recommendation/schemas_recommendation.py
  assets/images/default_recommendation.png
  migrations/versions/2-pydantic_v2.py
  migrations/versions/3-fix_datetime.py
  migrations/versions/4-recommendation.py
  tests/test_recommendation.py
Labels: module, ready for review

#367 Only allow to use a uuid to get_file_from_data
  app/utils/tools.py
  pyproject.toml
  tests/test_utils.py
Labels: core

#342 Module Phonebook
  .vscode/settings.json
  app/modules/phonebook/__init__.py
  app/modules/phonebook/cruds_phonebook.py
  app/modules/phonebook/endpoints_phonebook.py
  app/modules/phonebook/models_phonebook.py
  app/modules/phonebook/phonebook_types.py
  app/modules/phonebook/schemas_phonebook.py
  assets/images/1a.png
  assets/images/default_association_picture.png
  migrations/versions/6-phonebook.py
  tests/test_phonebook.py
Labels: enhancement, module, ready for review, feat

#369 Add tests for user endpoints
  app/core/users/endpoints_users.py
  tests/test_users.py
Labels: core

#380 Fix loan migration
  migrations/versions/5-loan_return_date.py
Labels: ready for review, fix bug

#381 Fix datetime migration
  migrations/versions/3-fix_datetime.py
Labels: ready for review, fix bug
