Repository aeecleclair/Hyperion, pull requests merged in 2024-04, with the labels that each got.

#395 Bump fastapi, ruff and httpx
  app/app.py
  requirements-dev.txt
  requirements.txt
Labels: dependencies

#407 Push to registry only on release
  .github/workflows/publish.yml
Labels: github_actions, ready for review

#408 Add new utils to manipulate files
  app/core/users/endpoints_users.py
  app/modules/advert/endpoints_advert.py
  app/modules/campaign/endpoints_campaign.py
  app/modules/cinema/endpoints_cinema.py
  app/modules/phonebook/endpoints_phonebook.py
  app/modules/raffle/endpoints_raffle.py
  app/modules/recommendation/endpoints_recommendation.py
  app/utils/tools.py
  assets/pdf/default_pdf.pdf
  requirements.txt
  tests/test_utils.py
Labels: core

#398 Refactor Alembic migration internal logic
  app/app.py
  migrations/env.py
Labels: enhancement, core, migration

#409 Database and models overall improvements
  alembic.ini
  app/app.py
  app/core/auth/models_auth.py
  app/core/models_core.py
  app/core/notification/models_notification.py
  app/database.py
  app/modules/advert/models_advert.py
  app/modules/amap/models_amap.py
  app/modules/booking/models_booking.py
  app/modules/calendar/models_calendar.py
  app/modules/campaign/models_campaign.py
  app/modules/cinema/models_cinema.py
  app/modules/loan/models_loan.py
  app/modules/phonebook/models_phonebook.py
  app/modules/raffle/models_raffle.py
  app/modules/recommendation/cruds_recommendation.py
  app/modules/recommendation/endpoints_recommendation.py
  app/modules/recommendation/models_recommendation.py
  app/modules/recommendation/schemas_recommendation.py
  app/types/sqlalchemy.py
  docker-compose-dev.yaml
  docker-compose.yaml
  migrations/env.py
  migrations/versions/8-recommendation_primary_key.py
  tests/commons.py
  tests/test_recommendation.py
Labels: enhancement, core, ready for review

#376 Only allow content-type based on an enum for saving files
  app/core/users/endpoints_users.py
  app/modules/advert/endpoints_advert.py
  app/modules/campaign/endpoints_campaign.py
  app/modules/cinema/endpoints_cinema.py
  app/modules/phonebook/endpoints_phonebook.py
  app/modules/raffle/endpoints_raffle.py
  app/modules/recommendation/endpoints_recommendation.py
  app/types/content_type.py
  app/utils/tools.py
  tests/test_utils.py
Labels: enhancement, core

#405 Rate limit unknown clients
  app/app.py
Labels: core, ready for review
