Repository aeecleclair/Hyperion, pull requests merged in 2025-06, with the labels that each got.

#735 MyECLPay ToS content
  app/core/myeclpay/utils_myeclpay.py
  assets/myeclpay-terms-of-service.txt
  tests/test_myeclpay.py
Labels: myeclpay

#734 Hyperion 4.5.1
  app/core/utils/config.py
Labels: release

#738 Allow read access even when last ToS are refused
  app/core/myeclpay/endpoints_myeclpay.py
Labels: ready for review, fix bug, myeclpay

#714 feat(raid): delete invite and Google Drive PDF when deleting teams
  app/modules/raid/cruds_raid.py
  app/modules/raid/endpoints_raid.py
Labels: raid registering

#729 Unit of work 3: Transactional database: auto-commit or rollback per endpoint
  app/core/auth/cruds_auth.py
  app/core/core_endpoints/cruds_core.py
  app/core/google_api/cruds_google_api.py
  app/core/groups/cruds_groups.py
  app/core/memberships/endpoints_memberships.py
  app/core/myeclpay/cruds_myeclpay.py
  app/core/myeclpay/endpoints_myeclpay.py
  app/core/myeclpay/utils_myeclpay.py
  app/core/notification/cruds_notification.py
  app/core/payment/cruds_payment.py
  app/core/schools/cruds_schools.py
  app/core/schools/endpoints_schools.py
  app/core/users/cruds_users.py
  app/core/users/endpoints_users.py
  app/dependencies.py
  app/modules/advert/cruds_advert.py
  app/modules/advert/endpoints_advert.py
  app/modules/amap/cruds_amap.py
  app/modules/amap/endpoints_amap.py
  app/modules/booking/cruds_booking.py
  app/modules/booking/endpoints_booking.py
  app/modules/calendar/cruds_calendar.py
  app/modules/calendar/endpoints_calendar.py
  app/modules/campaign/cruds_campaign.py
  app/modules/campaign/endpoints_campaign.py
  app/modules/cdr/endpoints_cdr.py
  app/modules/cdr/utils_cdr.py
  app/modules/cinema/cruds_cinema.py
  app/modules/flappybird/cruds_flappybird.py
  app/modules/loan/cruds_loan.py
  app/modules/ph/cruds_ph.py
  app/modules/ph/endpoints_ph.py
  app/modules/phonebook/cruds_phonebook.py
  app/modules/raffle/cruds_raffle.py
  app/modules/raffle/endpoints_raffle.py
  app/modules/raid/cruds_raid.py
  app/modules/recommendation/cruds_recommendation.py
  app/modules/seed_library/cruds_seed_library.py
  tests/commons.py
Labels: enhancement, core

#731 MyECLPay: increase test coverage
  app/core/myeclpay/endpoints_myeclpay.py
  app/core/myeclpay/types_myeclpay.py
  app/modules/raid/cruds_raid.py
  tests/test_myeclpay.py
Labels: myeclpay

#727 MyECLPay: unique constraints and for update lock to prevent race conditions
  app/core/myeclpay/cruds_myeclpay.py
  app/core/myeclpay/exceptions_myeclpay.py
  app/core/myeclpay/models_myeclpay.py
  migrations/versions/33-MyECLPay-unique-constraints.py
  tests/test_myeclpay.py
Labels: myeclpay

#719 Full s3 logger
  .env.template
  app/core/core_endpoints/cruds_core.py
  app/core/myeclpay/cruds_myeclpay.py
  app/core/myeclpay/endpoints_myeclpay.py
  app/core/myeclpay/integrity_myeclpay.py
  app/core/myeclpay/models_myeclpay.py
  app/core/myeclpay/schemas_myeclpay.py
  app/core/myeclpay/utils_myeclpay.py
  app/core/payment/cruds_payment.py
  app/core/users/endpoints_users.py
  app/core/utils/config.py
  app/core/utils/log.py
  app/types/exceptions.py
  app/types/s3_access.py
  app/utils/loggers_tools/matrix_handler.py
  app/utils/loggers_tools/s3_handler.py
  migrations/versions/34_myeclpay_transaction_detail.py
  requirements-common.txt
  requirements-dev.txt
  tests/test_myeclpay.py
Labels: myeclpay

#740 Release 4.5.2
  pyproject.toml
Labels: release

#746 Release 4.5.4
  pyproject.toml
Labels: release

#751 Don't log exception trace before retrying HA Payment
  app/core/payment/payment_tool.py
  app/core/utils/log.py
Labels: payment

#754 Feat raid different prices
  app/modules/raid/coredata_raid.py
  app/modules/raid/endpoints_raid.py
  app/modules/raid/models_raid.py
  tests/commons.py
  tests/test_raid.py
Labels: raid registering

#763 MyECLPay: use new CalypSSO UI for text assets
  app/core/myeclpay/endpoints_myeclpay.py
  requirements-common.txt
Labels: enhancement, dependencies, ready for review, myeclpay
