Repository aeecleclair/Hyperion, pull requests merged in 2025-09, with the labels that each got.

#811 Fix(state management): store state in global variable to allow the sc…
  app/app.py
  app/core/notification/endpoints_notification.py
  app/dependencies.py
  app/types/scheduler.py
  app/types/sqlalchemy.py
  app/utils/communication/notifications.py
  app/utils/state.py
  requirements-common.txt
  tests/commons.py
  tests/conftest.py
  tests/test_factories.py
  tests/test_migrations.py
  tests/test_myeclpay.py
  tests/test_payment.py
  tests/test_ratelimit.py
  tests/test_utils.py
Labels: core, proximapp

#800 CdR: move Status to CoreData file
  app/modules/cdr/coredata_cdr.py
  app/modules/cdr/endpoints_cdr.py
  app/modules/cdr/schemas_cdr.py
Labels: ready for review, code quality, cdr

#818 Hyperion 4.7.6
  pyproject.toml
Labels: release

#822 Hyperion 4.7.7
  pyproject.toml
Labels: release

#826 Fix CdR ticket deletion
  app/modules/cdr/endpoints_cdr.py
  pyproject.toml
Labels: ready for review, fix bug, cdr

#838 Bump version 4.9.0
  pyproject.toml
Labels: release
