Repository aeecleclair/Hyperion, pull requests merged in 2025-01, with the labels that each got.

#613 Send notification content through Firebase and add an Arq scheduler
  app/app.py
  app/core/endpoints_core.py
  app/core/log.py
  app/core/notification/cruds_notification.py
  app/core/notification/endpoints_notification.py
  app/core/notification/notification_types.py
  app/core/notification/schemas_notification.py
  app/dependencies.py
  app/modules/advert/endpoints_advert.py
  app/modules/amap/endpoints_amap.py
  app/modules/booking/endpoints_booking.py
  app/modules/cinema/endpoints_cinema.py
  app/modules/loan/endpoints_loan.py
  app/modules/ph/endpoints_ph.py
  app/types/exceptions.py
  app/types/scheduler.py
  app/utils/communication/notifications.py
  app/utils/redis.py
  app/utils/tools.py
  requirements-common.txt
  tests/commons.py
  tests/conftest.py
  tests/test_notification.py
Labels: enhancement, notifications, ready for review

#629 Jinja templating
  .gitignore
  assets/templates/README.md
  assets/templates/account_exists_mail.html
  assets/templates/activation_mail.html
  assets/templates/base_mail.html
  assets/templates/custom_mail_template.html
  assets/templates/migration_mail.html
  assets/templates/migration_mail_already_used.html
  assets/templates/reset_mail.html
  assets/templates/reset_mail_does_not_exist.html
  tests/template_tester.py
Labels: enhancement, ready for review, jinja, code quality

#642 Bump version 4.0.0
  app/core/config.py
Labels: don't merge, release

#634 Add structures to stores management
  app/core/config.py
  app/core/groups/groups_type.py
  app/core/myeclpay/cruds_myeclpay.py
  app/core/myeclpay/endpoints_myeclpay.py
  app/core/myeclpay/models_myeclpay.py
  app/core/myeclpay/schemas_myeclpay.py
  app/core/payment/cruds_payment.py
  app/dependencies.py
  app/utils/tools.py
  assets/templates/structure_manager_transfert.html
  migrations/versions/27-MyECLPay.py
  result.txt
  tests/test_myeclpay.py
Labels: myeclpay

#641 Schools
  app/api.py
  app/app.py
  app/core/auth/endpoints_auth.py
  app/core/groups/groups_type.py
  app/core/models_core.py
  app/core/schemas_core.py
  app/core/schools/__init__.py
  app/core/schools/cruds_schools.py
  app/core/schools/endpoints_schools.py
  app/core/schools/schools_type.py
  app/core/users/cruds_users.py
  app/core/users/endpoints_users.py
  app/core/users/tools_users.py
  app/dependencies.py
  app/modules/advert/endpoints_advert.py
  app/modules/amap/endpoints_amap.py
  app/modules/booking/endpoints_booking.py
  app/modules/calendar/endpoints_calendar.py
  app/modules/campaign/endpoints_campaign.py
  app/modules/cdr/endpoints_cdr.py
  app/modules/cdr/utils_cdr.py
  app/modules/loan/endpoints_loan.py
  app/modules/phonebook/endpoints_phonebook.py
  app/modules/raffle/endpoints_raffle.py
  app/modules/raid/endpoints_raid.py
  app/utils/auth/providers.py
  app/utils/initialization.py
  app/utils/tools.py
  migrations/versions/27-schools.py
  tests/commons.py
  tests/test_payment.py
  tests/test_schools.py
  tests/test_user_fusion.py
  tests/test_users.py
Labels: enhancement, core
