Repository aeecleclair/Hyperion, pull requests merged in 2025-05, with the labels that each got.

#611 MyECLPay
  .env.template
  .env.test
  app/core/memberships/endpoints_memberships.py
  app/core/memberships/utils_memberships.py
  app/core/myeclpay/__init__.py
  app/core/myeclpay/cruds_myeclpay.py
  app/core/myeclpay/endpoints_myeclpay.py
  app/core/myeclpay/models_myeclpay.py
  app/core/myeclpay/schemas_myeclpay.py
  app/core/myeclpay/types_myeclpay.py
  app/core/myeclpay/utils_myeclpay.py
  app/core/payment/cruds_payment.py
  app/core/payment/schemas_payment.py
  app/core/users/models_users.py
  app/core/utils/config.py
  app/modules/cdr/endpoints_cdr.py
  app/modules/myeclpay/__init__.py
  app/modules/myeclpay/endpoints_myeclpay.py
  app/modules/raffle/endpoints_raffle.py
  app/modules/raid/endpoints_raid.py
  app/types/exceptions.py
  app/utils/auth/providers.py
  app/utils/tools.py
  app/utils/validators.py
  assets/templates/activate_myeclpay_device_mail.html
  assets/templates/myeclpay_signed_tos_mail.html
  assets/templates/structure_manager_transfert.html
  migrations/README.md
  migrations/versions/32-MyECLPay.py
  requirements-common.txt
  tests/commons.py
  tests/template_tester.py
  tests/test_myeclpay.py
Labels: enhancement, module, payment

#702 Release Hyperion 4.4.0
  app/core/utils/config.py
Labels: release

#705 MyECLPay: Precise refund type in history and return store refund in history
  app/core/myeclpay/endpoints_myeclpay.py
  app/core/myeclpay/types_myeclpay.py
Labels: myeclpay

#707 Release 4.4.1
  app/core/utils/config.py
Labels: release

#708 Revoke refresh token on password change
  app/core/auth/cruds_auth.py
  app/core/users/endpoints_users.py
Labels: enhancement, core, authentication

#706 Use new HelloAsso SDK
  app/core/payment/endpoints_payment.py
  app/core/payment/payment_tool.py
  app/core/payment/types_payment.py
  app/types/exceptions.py
  requirements-common.txt
  requirements-dev.txt
  tests/test_payment.py
Labels: core, payment

#703 Myeclpay logs
  .env.template
  app/core/myeclpay/cruds_myeclpay.py
  app/core/myeclpay/endpoints_myeclpay.py
  app/core/myeclpay/integrity_myeclpay.py
  app/core/myeclpay/types_myeclpay.py
  app/core/myeclpay/utils_myeclpay.py
  app/core/utils/config.py
  app/core/utils/log.py
  app/types/exceptions.py
  app/types/s3_access.py
  app/utils/loggers_tools/s3_handler.py
  requirements-common.txt
  requirements-dev.txt
Labels: enhancement, myeclpay

#697 Ruff 0.11.8
  app/core/auth/endpoints_auth.py
  app/core/auth/schemas_auth.py
  app/core/core_endpoints/endpoints_core.py
  app/core/google_api/google_api.py
  app/core/groups/endpoints_groups.py
  app/core/groups/schemas_groups.py
  app/core/memberships/endpoints_memberships.py
  app/core/myeclpay/endpoints_myeclpay.py
  app/core/notification/notification_types.py
  app/core/payment/schemas_payment.py
  app/core/schools/endpoints_schools.py
  app/core/users/cruds_users.py
  app/core/users/endpoints_users.py
  app/core/users/schemas_users.py
  app/core/utils/config.py
  app/core/utils/security.py
  app/dependencies.py
  app/modules/advert/endpoints_advert.py
  app/modules/amap/cruds_amap.py
  app/modules/amap/endpoints_amap.py
  app/modules/booking/endpoints_booking.py
  app/modules/calendar/endpoints_calendar.py
  app/modules/campaign/cruds_campaign.py
  app/modules/campaign/endpoints_campaign.py
  app/modules/cdr/endpoints_cdr.py
  app/modules/cdr/utils_cdr.py
  app/modules/cinema/endpoints_cinema.py
  app/modules/flappybird/endpoints_flappybird.py
  app/modules/ph/endpoints_ph.py
  app/modules/phonebook/endpoints_phonebook.py
  app/modules/raffle/cruds_raffle.py
  app/modules/raffle/endpoints_raffle.py
  app/modules/raid/endpoints_raid.py
  app/modules/raid/utils/pdf/conversion_utils.py
  app/modules/raid/utils/pdf/pdf_writer.py
  app/modules/raid/utils/utils_raid.py
  app/types/s3_access.py
  app/types/websocket.py
  app/utils/communication/notifications.py
  app/utils/initialization.py
  app/utils/mail/mailworker.py
  app/utils/tools.py
  pyproject.toml
  requirements-dev.txt
  tests/commons.py
  tests/test_migrations.py
  tests/test_raid.py
Labels: dependencies, python, code quality

#710 Release 4.4.2
  app/core/utils/config.py
Labels: release

#717 Fix : add and edit structure
  app/core/myeclpay/cruds_myeclpay.py
  app/core/myeclpay/endpoints_myeclpay.py
Labels: myeclpay

#720 Return a code 400 when creating a store with an existing name
  .env.template
  app/core/myeclpay/cruds_myeclpay.py
  app/core/myeclpay/endpoints_myeclpay.py
  app/core/utils/config.py
Labels: fix bug, myeclpay
