Repository aeecleclair/Hyperion, pull requests merged in 2025-07, with the labels that each got.

#765 Admin endpoint to send notification to group
  app/core/notification/endpoints_notification.py
  app/core/notification/schemas_notification.py
  app/utils/communication/notifications.py
  tests/test_notification.py
Labels: notifications

#757 Allow to configure AuthClients using a dictionnary
  .env.template.yaml
  .env.test.yaml
  app/core/utils/config.py
  app/types/exceptions.py
Labels: core

#771 Use an existing default file for raid rules
  app/modules/raid/endpoints_raid.py
Labels: fix bug, raid registering

#680 Notification topics refactorization using a db table
  app/app.py
  app/core/groups/endpoints_groups.py
  app/core/notification/cruds_notification.py
  app/core/notification/endpoints_notification.py
  app/core/notification/models_notification.py
  app/core/notification/notification_types.py
  app/core/notification/schemas_notification.py
  app/core/notification/utils_notification.py
  app/core/users/endpoints_users.py
  app/modules/advert/endpoints_advert.py
  app/modules/amap/endpoints_amap.py
  app/modules/cinema/endpoints_cinema.py
  app/modules/ph/endpoints_ph.py
  app/types/module.py
  app/utils/communication/notifications.py
  migrations/versions/35-topic-membership.py
  tests/test_notification.py
Labels: notifications

#774 Optional HA api-base
  app/utils/state.py
Labels: fix bug

#778 Dotenv for Docker variables in addition to yaml config file
  .env.template
  .gitignore
  app/core/payment/payment_tool.py
  app/core/payment/types_payment.py
  app/core/utils/config.py
  app/utils/state.py
  config.template.yaml
  docker-compose.yaml
  tests/.env.test
  tests/commons.py
  tests/config.test.yaml
  tests/test_payment.py
Labels: enhancement, core

#782 Invert logic for unlock_key
  app/utils/initialization.py
Labels: fix bug
